<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>:</h2>
    <p>
      You have successfully been removed from Rotten Mangoes.com. We're sorry to see you go. <br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>